@charset "utf-8";

/* CSS Document */
/* ====================================================================================================
	Table of Content
	1. Theme Settings
	2. Typography - Copy into admin.css
	3. Header
	4. Navigation
		a. Navigation
		b. Sub Navigation
	
	5. Content
		a. Homepage Styles
		b. Page Styles

	6 Blog Template
	7. Print Template
	8. Buttons
	9. Footer
	10. Vin65 Overrides
		a. User Tools
		b. Homepage Product Group
		c. Checkout Overrides
		d. Default SASS Product List
		e. Default SASS Product Drilldown
*/

//   ===================================================================================================
//	 Global Variables
//   ===================================================================================================
$backtoTopColor: #fff;
$backtoTopBackground: #333;
$backtoTopBorder: #ccc;

$backgroundColorMobileFooterTools: #000;
$fontFamily: Arial, Helvetica, sans-serif; // Default Font Family
$fontFamilyButton: Arial, Helvetica, sans-serif; // Default Font Family for Buttons

//   ===================================================================================================
//      1.a General Theme Settings
// =====================================================================================================

// ===============
// General Styling
// ===============
$background: #fff; // Background Color or Texture
$fontColor: #000; // General Font Color
$headingColor: #333; // Main Heading Color
$ruleColor: #666; // Horizontal Rule Color
$linkColor: #369; // Main Link Color

// ==================
// Reverse Styling - Used on Second and Fourth Sections and the Footer
// ==================
$backgroundReverse: url(../images/template/bg-texture-dark.jpg) top center repeat #333; // Website Background Color -Reverse 
$fontColorReverse: #cccccc;
$fontColorReverseHover: #fff;
$headingColorReverse: #fff; // Main Heading Color -Reverse 

// ==================
// Button Styling
// ==================
$mainButtonColor: #369;
$mainButtonBorder: 1px solid #163655;
$altButtonColor: #ccc;
$altButtonBorder: 1px solid #888;
$mainButtonTextColor: #fff;
$altButtonTextColor: #000;

//   ===================================================================================================
//      1.b Muted Pastel Theme Settings
// =====================================================================================================

// ===============
// General Styling
// ===============
///$background: url(../images/template/bg-texture.jpg) top center repeat #dedede; // Background Color or Texture
///$fontColor: #000; // General Font Color
///$headingColor: #16A6B6; // Main Heading Color
///$ruleColor: #666; // Horizontal Rule Color
///$linkColor: #EE6557; // Main Link Color

// ==================
// Reverse Styling - Used on Second and Fourth Sections and the Footer
// ==================
///$backgroundReverse: #333333; // Website Background Color -Reverse 
///$fontColorReverse: #cccccc;
///$fontColorReverseHover: lighten($fontColorReverse, 20%);
///$headingColorReverse: #16A6B6; // Main Heading Color -Reverse 

// ==================
// Button Styling
// ==================
///$mainButtonColor: #16A6B6;
///$mainButtonBorder: 1px solid #16A6B6;
///$altButtonColor: #ccc;
///$altButtonBorder: 1px solid #ccc;
///$mainButtonTextColor: #fff;
///$altButtonTextColor: #000;

//   ===================================================================================================
//      1.c Blue Theme Settings
// =====================================================================================================

// ===============
// General Styling
// ===============
///$background: #FFFAE4; // Background Color or Texture
///$fontColor: #000; // General Font Color
///$headingColor: #333; // Main Heading Color
///$ruleColor: #ccc; // Horizontal Rule Color
///$linkColor: #37a5ba; // Main Link Color

// ==================
// Reverse Styling - Used on Second and Fourth Sections and the Footer
// ==================
///$backgroundReverse: #40627C; // Website Background Color -Reverse 
///$fontColorReverse: #FFFAE4;
///$fontColorReverseHover: lighten($fontColorReverse, 20%);
///$headingColorReverse: #fff; // Main Heading Color -Reverse 

// ==================
// Button Styling
// ==================
///$mainButtonColor: #FFCE2D;
///$mainButtonBorder: 1px solid #FFCE2D;
///$altButtonColor: #ccc;
///$altButtonBorder: 1px solid #ccc;
///$mainButtonTextColor: #000;
///$altButtonTextColor: #000;

//   ===================================================================================================
//      1.d Yellow/Orange Theme Settings
// =====================================================================================================

// ===============
// General Styling
// ===============
///$background: url(../images/template/bg-texture.jpg) top center repeat #dedede; // Background Color or Texture
///$fontColor: #000; // General Font Color
///$headingColor: #000; // Main Heading Color
///$ruleColor: #000; // Horizontal Rule Color
///$linkColor: #E2602B; // Main Link Color

// ==================
// Reverse Styling - Used on Second and Fourth Sections and the Footer
// ==================
///$backgroundReverse: #FED463; // Website Background Color -Reverse 
///$fontColorReverse: #000;
///$fontColorReverseHover: lighten($fontColorReverse, 20%);
///$headingColorReverse: #000; // Main Heading Color -Reverse 

// ==================
// Button Styling
// ==================
///$mainButtonColor: #E2602B;
///$mainButtonBorder: 1px solid #E2602B;
///$altButtonColor: #ccc;
///$altButtonBorder: 1px solid #ccc;
///$mainButtonTextColor: #fff;
///$altButtonTextColor: #000;

//   ===================================================================================================
//      1.e Red/Gold Theme Settings
// =====================================================================================================

// ===============
// General Styling
// ===============
///$background: #f5f4e9; // Background Color or Texture
///$fontColor: #000; // General Font Color
///$headingColor: #a19335; // Main Heading Color
///$ruleColor: #000; // Horizontal Rule Color
///$linkColor: #ba624d; // Main Link Color

// ==================
// Reverse Styling - Used on Second and Fourth Sections and the Footer
// ==================
///$backgroundReverse: url(../images/template/bg-texture-dark.jpg) top center repeat #333; // Website Background Color -Reverse 
///$fontColorReverse: #ccc;
///$fontColorReverseHover: lighten($fontColorReverse, 20%);
///$headingColorReverse: #a19335; // Main Heading Color -Reverse 

// ==================
// Button Styling
// ==================
///$mainButtonColor: #c24b2d;
///$mainButtonBorder: 1px solid #c24b2d;
///$altButtonColor: #ccc;
///$altButtonBorder: 1px solid #ccc;
///$mainButtonTextColor: #fff;
///$altButtonTextColor: #000;

//   ===================================================================================================
//      1.f Green Theme Settings
// =====================================================================================================

// ===============
// General Styling
// ===============
///$background: #fff; // Background Color or Texture
///$fontColor: #000; // General Font Color
///$headingColor: #333; // Main Heading Color
///$ruleColor: #666; // Horizontal Rule Color
///$linkColor: #5C832F; // Main Link Color

// ==================
// Reverse Styling - Used on Second and Fourth Sections and the Footer
// ==================
///$backgroundReverse: url(../images/template/bg-texture-dark.jpg) top center repeat #333; // Website Background Color -Reverse 
///$fontColorReverse: #cccccc;
///$fontColorReverseHover: #fff;
///$headingColorReverse: #fff; // Main Heading Color -Reverse 

// ==================
// Button Styling
// ==================
///$mainButtonColor: #5C832F;
///$mainButtonBorder: 1px solid #5C832F;
///$altButtonColor: #ccc;
///$altButtonBorder: 1px solid #888;
///$mainButtonTextColor: #fff;
///$altButtonTextColor: #000;

//   ===================================================================================================
//      1.c Responsive Breakpoints
// =====================================================================================================

$break-min-mobile: "and (min-width : 581px)";
$break-max-mobile: "and (max-width : 580px)";
$break-mobile: "and (min-width : 320px) and (max-width : 835px)";
$break-min-tablet: "and (min-width : 836px)";
$break-max-tablet: "and (max-width : 835px)";
$break-tablet: "and (min-width : 581px) and (max-width : 1023px)";
$break-max-desktop: "and (max-width : 1023px)";
$break-min-desktop: "and (min-width : 1024px)";

/* Breakpoints */
/* Mobile 580px, resolutions 320 x 480 px, 320 x 580 px, 360 x 580 px */
/* 7" Tablet 640px, resolution 640 x 1024 px */
/* iPad 760px, resolution 760 x 1024 px */


/*   ===================================================================================================
     2. Typography - These get copied into the admin.css
======================================================================================================== */
html,body {
	height: 100%;
}
body{
	background: $background;
	font-size: 12px;
	color: $fontColor;
	font-family: $fontFamily;
	line-height: 1.5em;
}

a{ 
	color: $linkColor;
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: underline;
	}
}

h1,h2,h3,h4,h5,h6,p,table,ul,ol { 
	margin-top: 0;
	padding-top: 0;
}

ul, ol, dl, p, table, pre { 
	margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6{
	color: $headingColor;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 0;
}

	h1 { 
		font-size: 48px;
		line-height: 1.2;
		margin-bottom: 0.6em;
		font-weight: bold;

		@media screen #{$break-max-mobile}{
			font-size: 26px;
		}
	}

	h2 { 
		font-size: 36px;
		line-height: 1.2;
		margin: 0.25em  0 0.5em;
		font-weight: bold;

		&.pageTitle{
			text-transform: lowercase;
		}

		@media screen #{$break-max-mobile}{
			font-size: 22px;
		}
	}
		
	h3 { 
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 0.6em;

		@media screen #{$break-max-mobile}{
			font-size: 20px;
		}
	}
		
	h4 { 
		font-size: 18px;
		line-height: 1.2;
	}
		
	h5 { 
		font-size: 14px;
		line-height: 1.5;
	}

	h6 { 
		font-size: 14px;
		line-height: 1.5;
	}

img{
	border:none;
}

form { 
	margin-bottom: 1em;
}
	
legend { 
	color: $headingColor;
}
	
hr { 
	background-color: $ruleColor;
	border: 0;
	color: $ruleColor;
	height: 1px;
}

.backToTop {
	display: none;

	@media screen and (max-width : 680px) {
		position: fixed;
		bottom: 1em;
		right: 1em;
		z-index: 900;

		a {
			background: $backtoTopBackground;
			border: 1px solid $backtoTopBorder;
			border-radius: 50%;
			color: $backtoTopColor;
			display: block;
			height: 5em;
			line-height: 5em;
			text-align: center;
			text-decoration: none;
			width: 5em;
		}
	}
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}

/*   ===================================================================================================
     3. Header
======================================================================================================== */

header.main{
	background-color: #000;
	color:#fff;
	width: 100%;
	z-index:100;

	@media screen #{$break-min-tablet}{
		height:75px;
	}

	a{
		color:#fff;
	}

	.wrapper{
		margin: 0 auto;
		padding: 0;
		max-width: 950px;

		@media screen #{$break-min-tablet} {
			position: relative;	
		}

		@media screen #{$break-min-desktop}{
			width:950px;
		}
	}
}

#user-tools{
	color:#b3b3b3;
	border-bottom:1px solid #666;

	@media screen #{$break-min-mobile}{
		border:none;
	}

	@media screen #{$break-tablet}{
		border: none;
	}

	a{
		color:#b3b3b3;
	}
}

#v65-modalCart {
	padding-right: 10px !important;

	@media screen and (min-width: 1024px) {
		padding: 0 !important;
	}
}



.logoWrapper {
	@media screen #{$break-max-mobile} {
		margin: 0 auto;
		width: 120px;
	}

	.logo{
		background: image-url('inverse-logo.png') no-repeat;
		background-size: contain;
		border: 4px solid #000;
		display:block;
		float: left;
		height: 75px;
		margin-left: 1%;
		width:120px;

		&.smallLogo{
			background-color: transparent;
			border: none;
			height:75px;
			width:120px;
		}

		h1{
			margin: 0;
			height: 100%;
		}

		@media screen #{$break-min-mobile}{
			background-color: #333;
			display:block;
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			height: 160px;
			width: 250px;
			text-align:center;
		}

		@media screen and (min-width: 581px) and (max-width: 650px) {
			height: 120px;
			width: 187.5px;
		}

		@media screen #{$break-max-mobile} {
			margin: 0;
		}

		img{
			height: 100%;
		}
	}
}

/*   ===================================================================================================
     4. Navigation
======================================================================================================== */
	

/* ----- Link to footer navigation ----- */
.menuLink {
	display:none;
	
	@media screen #{$break-max-mobile}{
		color: #fff;
		display: inline-block;
		font-size: 16px;
		height: 45px;
		line-height: 45px;
		padding-left: 15px;
	}

	&:hover, &:focus, &:active{
		text-decoration: none;
	}
}


/* ----- a. Main Menu ----- */

nav{
	float: right;
	font-size: 13px;
	height:100%;
	width: 100%;
	z-index: 101;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: right;
	text-transform: uppercase;
	
	@media screen #{$break-max-mobile}{
		float: left;
		text-align: center;
		}

	ul{
		margin: 0;
		padding: 0;
		display: inline;
		
		@media screen #{$break-min-tablet}{
			float:right;
			margin:0;
			
			text-align: left;
		}

		@media screen #{$break-max-desktop}{
			padding-right: 10px;
		}

		li{
			margin: 0;
			padding: 0;
			height: 45px;
			line-height: 45px;
			display: inline-block;
			
			@media screen #{$break-min-tablet}{
				height: 28px;
				line-height: 28px;
				margin: 0 25px;
				margin: 0 0 0 35px;
				position:relative;
			}

			@media screen #{$break-min-desktop}{
				margin: 0 0 0 55px;
				position:relative;
			}

			a{
				color: #fff;
				display:block;
				height: 44px;
				line-height: 44px;
				margin: 0 3px;
				padding: 0 3px;
				position: relative;
				text-decoration: none;

				@media screen #{$break-min-tablet}{
					height:32px;
					line-height: 32px;
					display: inline-block;
					margin: 0;
					padding: 0;
				}

				&:hover{
					color: #ccc;
					text-decoration: none;
				}
			}
			&.v65-home {
				display: none;
			}
		}
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	clear: both;
	height:100%;
	width: 100%;

	@media screen #{$break-min-tablet}{
		border-right: 1px solid #ccc;
		float: left;
		margin-right: 4%;
		padding-right: 2%; //20px 
		width: 17.8%; // 170px
		clear: left;
	}

	ul{
		margin:0;
		padding:0;
		list-style: none;
		width: 100%; // 160px
		@media screen #{$break-max-tablet}{
			border-top:1px solid #999;
		}	
		@media screen #{$break-min-tablet}{
			margin: 0 0 2% 1%; //0 0 1em 10px
			padding: 0;
			}
		li{
			margin:0;
			padding:0;
			@media screen #{$break-max-tablet}{
				border-bottom:1px solid #999; 
				text-align: center;
			}
			@media screen #{$break-min-desktop}{
				line-height: 2;
				display: list-item;
			}

			a{ 
				@media screen #{$break-max-tablet}{
					display:block;
					font-size:1em; 
					line-height:3em;
				}


				&:hover{

				}
			}
			ul{
				margin:0;
				padding:0;
				list-style: none;
				width: 100%; // 160px
				border-bottom:3px solid #CCC;		
				@media screen #{$break-min-tablet}{
					margin-left: 10px;
					width: 160px;
					border:none;
				}		
			}

			.v65-pageAParent {
				color: #000;
			}
			.v65-leftSelected{
				color: #000;
				font-weight: bold;
			}
		}
	}

	h3{
		@media screen #{$break-max-tablet}{display:none;}
	}
}


/*   ===================================================================================================
     5. Content
======================================================================================================== */

.wrapper{
	margin: 0 auto;
	padding: 3%;
	position: relative;
	//height: 100%;
	max-width: 900px;

	&.innerContent{
		padding-bottom: 0;
		padding-top: 185px;

		@media screen #{$break-min-mobile}{
			padding-bottom: 30px;
			padding-top: 130px;
		}

		@media screen and (max-width: 650px) {
			padding-top: 100px;
		}

		@media screen #{$break-max-mobile} {
			padding-top: 30px;
		}
	}
}

.home{
	.innerContent{
		padding: 3%;
	}
}

.homepageContent {
	left: 0;
	position: absolute;
	right: 0;
	top: 450px;

	@media screen and (max-width: 1000px) {
		top: 375px;
	}

	@media screen #{$break-max-mobile} {
		background: #000;
		float: left;
		padding: 0;
		position: relative;
		top: 0;
	}

	.wrapper {
		padding: 0 !important;
		max-width: 950px;
	}

	.homepageText {
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.9);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding: 1.5em;
		width: 63%;

		@media screen and (max-width: 1000px) {
			margin: 0 1%;
			width: 48%;
		}

		@media screen #{$break-max-mobile} {
			border-top: 2px solid #000;
			margin: 0;
			width: 100%;
		}
	}

	.homepageProductGroup {
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.9);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: right;
		padding: 1.5em;
		width: 35%;

		@media screen and (max-width: 1000px) {
			margin: 0 1%;
			width: 48%;
		}

		@media screen #{$break-max-mobile} {
			border-top: 2px solid #000;
			float: left;
			margin: 0;
			width: 100%;
		}

		.v65-productGroup-product {
			text-align: left;
			width: 90%;

			.v65-product-title a {
				color: $headingColor;
				font: bold 25px/1.2 Georgia, "Times New Roman", Times, serif;
				margin: 0.25em 0 0.5em;
			}

			.productLeftCol {
				float: left;
				width: 25%;
				margin-right: 5%;

				.v65-product-photo {

				}
			}	

			.productRightCol {
				float: right;
				width: 70%;
			}
		}

		.v65-productGroup-title {
			display: none;
		}
	}

	.v65-productGroup {
		margin-bottom: 0;
	}
}

.texture{}

.solid{
	background: $backgroundReverse;
	color: $fontColorReverse;

	h1, h2, h3, h4, h5, h6 {
		color: $headingColorReverse;
	}
}

/* ----- Feature Image ----- */

.featureImage{
	background-color: #000;
	line-height: 0;
	margin: 0 auto;
	min-height: 875px;
	text-align: center;
	width: auto;

	div.homepageFeatureImage {
		height: 875px;
		background-size: 100% !important;

		@media screen and (max-width: 1400px) {
			width: 1400px;
			background-size: initial !important;
		}

		@media screen #{$break-max-mobile} {
			background-size: cover !important;
			height: 315px;
			width: 100%;
		}
	}

	@media screen #{$break-max-tablet}{
		min-height: 0;
		padding-top: 0;
	}

	@media screen #{$break-min-tablet}{

		padding-top:0;
	}

	img{
		width:100%;
		height:auto;
	}
}

/* ----- Two Col Layout ----- */

.leftCol, .rightCol{
	&.equalWidth{
		@media screen #{$break-min-tablet}{
			width: 45%;
		}
	}
}

.leftCol{
  	@media screen #{$break-min-tablet}{
  		float: left;
		width: 68%;
  	}

  	@media screen #{$break-min-desktop}{
  		float: left;
		width: 600px;
		padding: 0;
		margin: 0 0 20px;
  	}
}

.rightCol{
	@media screen #{$break-min-tablet}{
		float:right;
		width:28%;
	}

	@media screen #{$break-min-desktop}{
		width:260px;
	}

	.v65-pod{
		margin-bottom:50px;
		width:100%;

		@media screen and (min-width : 480px) and (max-width : 767px){
			width:35%;
			float:left;
			padding:0 7%;
		}
	}
}

.equalWidth{
	.v65-pod{
		margin-bottom:50px;

		@media screen and (min-width : 480px) and (max-width : 767px){
			width:100%;
			float:none;
			padding:2% 0 0;
		}
	}
}

/* ----- Four Col layout ----- */

.fourCol{

	.v65-pod{
		float:left;
		margin: 0;
		padding: 2%;
		@media screen #{$break-min-mobile}{
			float:left;
			width:46%;
		}
		@media screen #{$break-min-tablet}{
			width:21%;
		}	
	}
}

/* ----- Clubs ----- */

.v65-clubTitle{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: lowercase;
	font-size: 24px;
	font-weight: bold;
}

.v65-clubTeaser{
	padding:0 0 12px 0;
	margin-bottom: 50px;
}


#slider{
	overflow: hidden;
	width: 100%;
}

/* ----- b. Page Styles ----- */

.page{
	float: right;
	width: 75%; //650px
	@media screen #{$break-max-tablet}{
		padding:3%;
		width:94%;
	}
}

.col2 {
	float: left;
	margin-left: 6%;
	width: 47%;

	img {
		max-width: 100%;
	}

	&:first-child {
		float: left;
		margin-left: 0%;
		width: 47%;
	}

	@media screen #{$break-max-mobile}{
		float: none;
		margin-left: 0;
		margin-bottom: 1.5em;
		width: 100%;

		&:first-child {
			float: none;
			width: 100%;
		}
	}
}

.col3 {
	float: left;
	margin-right: 6%;
	width: 72%;

	img {
		max-width: 100%;
	}

	@media screen #{$break-max-mobile}{
		float: none;
		margin-left: 0;
		margin-bottom: 1.5em;
		width: 100%;
	}
}

.col1 {
	float: left;
	width: 22%;

	img {
		max-width: 100%;
	}

	@media screen #{$break-max-mobile}{
		float: none;
		width: 100%;
	}
}

/*   ===================================================================================================
     6. Products
======================================================================================================== */
.threeUpClear{	
	@media screen and (min-width:925px){
		clear: both;
		display: block;
		font-size: 0;
		line-height: 0;
	}
}

.v65-product-addToCart-priceWrapper{
	display: block;
	
	@media screen #{$break-min-mobile}{
		margin-top: 20px;
	}
}

.v65-product-addToCart-price{
	font-size: 1.6em;
	font-weight: bold;
}

.v65-addToCartCase{
	@media screen #{$break-max-mobile}{
		display:none;
	}
}

/* ----- List ----- */

.v65-product2Up{
	width:100%;
	text-align: left;

	@media screen and (min-width:605px){
		margin: 0 2% 1em 0;
		width:48%;
	}

	/*@media screen and (min-width:925px){
		width:31%;
	}*/

	.v65-product-photo {
		width: 12%;
		float:left;
		text-align: left;
		margin:0 1em 2em 0;

		@media screen and (min-width:605px){
			width: 28%;
		}

		@media screen and (min-width:920px){
			text-align: center;
			width: 32%;
		}

		img {
			max-width: 100%;
		}
	}

	.v65-product-drilldownLink{
		@media screen #{$break-max-mobile}{
			display:none;
		}
	}

	.v65-product-title{
		font-size: 2em;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: bold;
	}
}

.v65-product3Up {
	float: left;
	width: 32%;
	margin: 0 1% 3em 0;

	.v65-product-photo {
		float: left;
		width: 40%;
	}

	.v65-product-infoWrapper {
		float: right;
		text-align: left;
		width: 60%;
	}

	@media screen and (max-width: 893px) {
		width: 48%;

		& + .v65-clear {
			clear: none;
		}
	}
}

/*   ===================================================================================================
     8. Buttons
======================================================================================================== */
button{

	/* Button Sizing Overrides*/

	&.largeBtn, &.altLargeBtn{
		font-size: 1.3em; /* 16px; */

		@media screen #{$break-min-tablet}{
			height: 3em;
			line-height: 3em;
		}
	}

	&.defaultBtn, &.altBtn{
		font-size: 1em; /* 12px; */

		@media screen #{$break-min-tablet}{
			height: 3em;
			line-height: 3em;
		}
	}
	
	&.modalBtn, &.altModalBtn{
		font-size: 0.833em; /* 10px; */
		
		@media screen #{$break-min-mobile}{
			height: 2.5em;
			line-height: 2.5em;
		}
	}

		/* Button Styling*/

	&.defaultBtn,  &.modalBtn,  &.largeBtn{
		background:$mainButtonColor;
		border: $mainButtonBorder;
		border-radius: 0.385em; // 5px;
		color: $mainButtonTextColor;
		text-align: center;
		font-family: $fontFamilyButton;
		min-width:9.0em;
		text-transform: uppercase;
		font-weight:bold;
		span{
			color: $mainButtonTextColor;
			border-radius: 0.385em; // 5px;
		}
		&:hover{
			background:lighten($mainButtonColor, 10%);
			span{
			}
		}
	}

	&.altBtn, &.altModalBtn, &.altLargeBtn{
		background:$altButtonColor;
		border: $altButtonBorder;
		border-radius: 0.385em; // 5px;
		color: $altButtonTextColor;
		font-family: $fontFamilyButton;
		min-width:8.0em;
		text-transform: uppercase;
		font-weight:bold;
		span{
			color: $altButtonTextColor;
			background: $altButtonColor;
			border-radius: 0.385em; // 5px;
		}
		&:hover{
			background: lighten($altButtonColor, 10%);
			span{
				background: lighten($altButtonColor, 10%);
			}
		}

	}
}

a{
	&.linkBtn, &.modalLinkBtn, &.largeLinkBtn, &.fullWidthBtn{
		background:$mainButtonColor;
		border: $mainButtonBorder;
		border-radius: 0.385em; // 5px;
		color: $mainButtonTextColor;
		text-align: center;
		font-family: $fontFamilyButton;
		min-width:8.0em;
		text-transform: uppercase;
		font-weight:bold;
		span{
			color: $mainButtonTextColor;
			background:$mainButtonColor;
			border-radius: 0.385em; // 5px;
		}
		&:hover{
			background:lighten($mainButtonColor, 10%);
			text-decoration: none;

			span{
				background:lighten($mainButtonColor, 10%);
			}
		}
	}

	&.fullWidthBtn{
		display: block;
		font-size: 16px;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}

	&.linkAltBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		background:$altButtonColor;
		border: $altButtonBorder;
		border-radius: 0.385em; // 5px;
		font-family: $fontFamilyButton;
		min-width:8.0em;
		text-transform: uppercase;
		font-weight:bold;
		span{
			background:$altButtonColor;
			border-radius: 0.385em; // 5px;
			color: $altButtonTextColor;
		}
		&:hover{
			background: lighten($altButtonColor, 10%);
			span{
				background: lighten($altButtonColor, 10%);
			}
		}
	}

	&.modalLinkBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		min-width: auto;
	}
}

/*   ===================================================================================================
     9. Footer	
======================================================================================================== */
section .wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -205px;
}
footer, .push {
	height: 205px;
}
.homepageContent + footer {
	@media screen #{$break-max-mobile} {
		float: left;
	}
}

footer{
	width:100%;
	background: $backgroundReverse;
	color: $fontColorReverse;

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}

	width: 100%;

	@media screen #{$break-min-tablet}{
		color: $fontColorReverse;
		text-align: center;

	}

	a{
		color:$fontColorReverse;
	}

	.wrapper{
		padding: 0;

		@media screen #{$break-min-tablet}{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 20px;
		}
	}
}

	.footerNav {
		width: 100%;
		
		@media screen #{$break-max-tablet}{
			background: none;	
		}

		ul{ 
			border-top: 3px solid #000;
			list-style: none;
			width: 100%;
			margin: 0;
			padding: 0;

			@media screen #{$break-min-tablet}{
				border: none;
				text-align: center;	
			}
		}

		li{ 
			border-bottom: 1px solid #000;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;

			@media screen #{$break-min-tablet}{
				display: inline;
				padding:0 5px;
				border:none;
			}
		}
		
		a{ 
			font-size: 1em;
			line-height: 3em;
			display: block;

			@media screen #{$break-min-tablet}{
				color: $fontColorReverse;
				display: inline-block;
				font-size: 0.917em;
				position: relative;
				
				&:hover{
					color: $fontColorReverseHover;
				}  
			}
		}
	} 

	.footerTools {
		background: $backgroundColorMobileFooterTools;
		width: 100%;

		@media screen #{$break-min-tablet}{
			background: none;
		}

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
		 	
		 	@media screen #{$break-min-tablet}{
		 		border:none;
		 	}
		}

		li{
			line-height: 2.5em; 
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;

			@media screen #{$break-min-tablet}{
	 			border:none;
	 		} 

			img {
				vertical-align:text-top;
			}

			@media screen #{$break-min-tablet}{
				display:none;
			}
			
			&.legal, &.accolade {
				border-bottom: 0;
				display: block;
				font-size: 0.875em;
				line-height: 3em;

				@media screen #{$break-max-tablet}{
					color: #555;	
				}

				a {
					color: #555;

					@media screen #{$break-min-tablet}{
						color: #000;	
					}	
				}
			}

			&.social {
				border-bottom: 0;
				display: block;
				font-size: 1em;
				line-height: 3.5em;

				a {
					color: $linkColor;
					display: inline !important;
				}
			}
		}

		a { 
		 	color: $linkColor;
			display: block;
			line-height: 2.5em;
			
			@media screen #{$break-min-tablet}{
				display:inline-block;
			} 
		}

		.icon-large {
			font-size: 1.5em;
		}
	}



/*   ===================================================================================================
     10. Vin65 Overrides
======================================================================================================== */

.v65-socialMediaBar-Twitter{
	width:59px;
}

 
.v65-product-addToCart-price{
	font-size: 1.6em;
	font-weight: bold;
}

#v65-signUpClubSummaryWrapper {
	margin-bottom: 20px;
}

.v65-form, .v65-customForm{
	max-width: 100%;
}

#v65-modalCart {
	a span {
		text-align: center;
	}
}

/* ----- Fix for overflow on FB sharing widget on mobile  ----- */

.v65-socialMediaBar-FacebookLike { 
	@media screen #{$break-max-tablet}{
		width:100%;
		overflow: hidden;
		}
	}

.v65-productBadge {
	position:absolute;
	top:0;
	left:0;
}

iframe{
	max-width: 100% !important;

	@media screen #{$break-max-desktop}{
		width: 100% !important;
		height: 300px !important;
	} 

	@media screen #{$break-max-tablet}{
		width: 100% !important;
		height: 200px !important;
	} 
}

.v65-form fieldset .formatBeside label{
	@media screen #{$break-max-desktop}{
		float: none;
		width: auto;
		text-align: left;
		padding: 0;
	}
}

.v65-border{
	background-color:#fff;
}

	img.v65-right { 

		@media screen #{$break-max-mobile}{
			width: auto !important;	
		}

	}
